@page "/myorders"
@attribute [Authorize]
@inject HttpClient HttpClient

@code {

    async Task<List<OrderWithStatus>> LoadOrders()
    {
        return await HttpClient.GetFromJsonAsync<List<OrderWithStatus>>("orders");
    }
}
<div class="main">
    <TemplatedList Loader="LoadOrders" ListGroupClass="orders-list">
        <Loading>
            Cargando...
        </Loading>
        <Empty>
            <h2>No se ha realizado alguna orden</h2>
            <a class="btn btn-success" href="">Ordena alguna Pizza</a>
        </Empty>
        <Item Context="item">
           
                <div class="col">
                    <h5>@item.Order.GetFormattedCreatedTime()</h5>
                    Pizzas:
                    <strong>@item.Order.Pizzas.Count()</strong>
                    Precio total:
                    <strong>$@item.Order.GetFormattedTotalPrice()</strong>
                </div>
                <div class="col">
                    Estatus: <strong>@item.StatusText</strong>
                </div>
                <div class="col text-right">
                    <a href="myorders/@item.Order.OrderId" class="btn btn-success">
                        Rastrear &gt;
                    </a>
                </div>
            
        </Item>
    </TemplatedList>
</div>
